h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
.hidden { 
    display:none;
}

/* CSS GRID for ToDo Items */
.grid-container {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    max-width: 60%;
}


